{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Login</h4>
            </div>
            <div class="card-body">
                <h1>{% trans "Change Password" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <button type="submit" name="action" class="btn main_btn">{% trans "Change Password" %}</button>
                    <a href="{% url 'profile' %}" class="btn secondary_btn">{% trans "Cancel" %}</a>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
